/*Estilos generales de la aplicacion*/
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*======Apartado contactos.html=====*/
.contactanos{
    text-align: center;
}
.formu {
    border: 2px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 70%;
    gap: 10px;
    box-shadow: 10px 10px 25px 3px black;
    border-radius: 10px;
}
input{
    flex-basis: 100px;
    flex-grow: 1;
    flex-shrink: 1;
    outline: none;
    padding: 5px;
    border-left: 2px solid black;
}
.form-box {
    border: 1px solid black;
    display: flex;
    align-items: center;
    gap: 4px;
    padding-left: 10px;
}

.formu textarea {
    resize: none;
}

.formu .boton {
    align-self: flex-start;
}

#resultConts {
    text-align: center;
}