/*--- --- Barra de búsqueda --- --- */
.barra-busqueda {
    height: auto; 
    font-size: 16;
    padding: 15px 20px;
    background-color: var(--principal);
}

.input-busqueda svg, .input-fecha svg, .input-tipo svg {
    color: var(--negro);
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    z-index: 5;
    pointer-events: none;
}

.input-busqueda, .input-tipo, .input-fecha {
    position: relative;
    width: 100%;
}

.input-busqueda input, .input-tipo select, .input-fecha input {
    width: 100% !important; 
    height: 40px;
    padding-left: 45px !important; 
}

.input-tipo select, .input-fecha input{
    text-align: center;
}

/*--- Tarjetas de evento ---*/
.card-grid{
    display: grid;
    grid-template-columns: 1fr;
    
    justify-items: center;
    margin-bottom: 20px;
}

.card{
    font-size: 17px;
    border-radius: 23px !important;
    width: 95%;
    padding: 0 15px;
    margin: 10px 0;

    background-color: #A4B3BD33;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 768px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .card {
        width: 85%; 
        max-width: 500px;
    }
}

.card .card-title{
    font-size: 30px !important;
    letter-spacing: 1px;
    text-align: center;
    font-weight: bold;
    color: var(--resaltado);

    margin-bottom: 20px;
}

.card-button{
    font-weight: bold;
    letter-spacing: 1px;
    justify-content: center;
    width: 190px;
}

/*--- Formulario Inscripción ---*/
.modal-inputs{
    margin-bottom: 20px;
}

.modal-body input{
    margin-bottom: 10px;
}