/*--- --- Formulario de contacto --- ---*/
.container__contactos{
    font-size: 17px;
    width: 70%;
    background-color: #F4F7F9;
    justify-self: center;
    border-radius: 10px;
    margin-bottom: 40px;

    padding: 60px 115px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

}

.container__contactos input, .container__contactos textarea{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.container__contactos label, .container__contactos input{
    margin-bottom: 10px;
}

.container__contactos textarea{
    height: 293px;
    margin-bottom: 25px;
}

.container__contactos button{
    width: 190px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}