:root{
    --blanco: #FFF;
    --negro: #000;

    --principal: #263D55;
    --color-nav: #1F2C41;
    --resaltado-nav: #5ee9bd;
    --resaltado: #4DB695;
}

@font-face {
    font-family: 'Inter';
    src: url(../fuentes/Inter/static/Inter_18pt-Regular.ttf);
}

@font-face{
    font-family: 'Inter bold';
    src: url(../fuentes/Inter/static/Inter_18pt-Bold.ttf);
}



/*--- --- --- ESTILOS GENERALES --- --- ---*/
*{
    font-family: 'Inter';
}

.svg-spacing-button{
    height: 100%;
    margin-right: 5px;
}

.input-button{
    width: 100px;
}

/*--- --- Header --- ---*/
header{
    min-width: 100%;
    background-color: var(--principal);
    height: 111px;
}

header img{
    height: 78px;
}

/*--- --- Barra de navegaci칩n --- --- */
.navegacion {
    height: auto;
    min-height: 53px;
    padding: 10px 5%; 
    background-color: var(--color-nav);
    flex-wrap: wrap;
}


.navegacion a {
    width: 120px;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 16px; /* Un poco m치s peque침o para m칩vil */
    margin: 5px 10px;

    transition: color 0.3s ease;
}

@media screen and (min-width: 768px) {
    .navegacion a {
        width: auto;
        font-size: 20px;
    }
}

.navegacion a:hover{
    color: var(--resaltado-nav);
}

.selected-page{
    color: var(--resaltado-nav) !important;
}




/*--- --- Main --- ---*/
main{
    padding: 0 6%;
}

main h1{
    font-family: 'Inter bold';
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
    margin: 19px 0 10px 0;
}

/*--- --- Footer --- ---*/
footer{
    height: 90px;
    font-size: 16px;
    color: var(--blanco);
    background-color: var(--principal);
}

footer p{
    margin: 0;
}

/*--- --- --- Media queries --- --- ---*/
@media screen and (max-width: 768px){
    header img{
        width: 90%;
        margin: 0 auto;
    }
}